Repository tonifaura/EDEM_MDA2324, changes with the owners that .github/CODEOWNERS names for each.
All owners: @a10pepo, @alhercan, @martinImagina, @gavaldanatalia, @gavnatalia, @echiner, @NuriaUrena, @rusansor, @paponsro, @jabrio

devsecops_entrega
  Alumnos/ES/Jorge_Dominguez/devsecops/cloudrun.png
  Alumnos/ES/Jorge_Dominguez/devsecops/juego.png
  Alumnos/ES/Jorge_Dominguez/devsecops/link.txt
  Alumnos/ES/Jorge_Dominguez/devsecops/pipeline.png
Owners: @a10pepo

Create readme.md
  Alumnos/ES/Jorge_Dominguez/devsecops/readme.md
Owners: @a10pepo

ejercicio
  Alumnos/ES/Javier_Ruiz/Devsecops/cloudrun.jpg
  Alumnos/ES/Javier_Ruiz/Devsecops/miurl.txt
  Alumnos/ES/Javier_Ruiz/Devsecops/pipeline.jpg
Owners: @a10pepo

[ADDED] Terraform deliverable screenshots & url file
  Alumnos/ES/JULIAN_MERINO/terraform/Screenshot 2024-02-05 at 19.18.50.png
  Alumnos/ES/JULIAN_MERINO/terraform/Screenshot 2024-02-05 at 19.18.56.png
  Alumnos/ES/JULIAN_MERINO/terraform/jumepre-terraform-project.txt
Owners: @a10pepo

terraform_exrc
  Alumnos/ES/Pau_Garcia/TERRAFORM/cloudrun.png
  Alumnos/ES/Pau_Garcia/TERRAFORM/pipeline_github.png
  Alumnos/ES/Pau_Garcia/TERRAFORM/snake_url.txt
Owners: @a10pepo

Snake Entregable
  Alumnos/ES/Francisco_Tudela/devsecops/Build.PNG
  Alumnos/ES/Francisco_Tudela/devsecops/Cloudrun.PNG
  Alumnos/ES/Francisco_Tudela/devsecops/JuegoSnake.PNG
  Alumnos/ES/Francisco_Tudela/devsecops/ruta.txt
Owners: @a10pepo

[ADDED] Terraform pipeline.yml destroy.yml
  Alumnos/ES/JULIAN_MERINO/terraform/workflows/destroy.yml
  Alumnos/ES/JULIAN_MERINO/terraform/workflows/pipeline.yml
Owners: @a10pepo

[ADDED] Other Terraform config files
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/Dockerfile
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/LICENSE
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/README.md
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/main.go
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/main.tf
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/providers.tf
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/snake.html
  Alumnos/ES/JULIAN_MERINO/terraform/terraform files/variables.tf
Owners: @a10pepo

Entregable Terraform
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/TERRAFORM/Captura_Cloud_Run.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/TERRAFORM/Captura_Snake.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/TERRAFORM/url.txt
Owners: @a10pepo

Entregable Devsecops
  Alumnos/ES/Miguel_Herrero/Devsecops/Captura Juego Snake.png
  Alumnos/ES/Miguel_Herrero/Devsecops/Captura URL Cloud Run.png
  Alumnos/ES/Miguel_Herrero/Devsecops/url.txt
Owners: @a10pepo

update spark
  Alumnos/FS/ALBERTO_DE_GEA/SPARK/notebooks_Alberto_de_Gea_y_Pablo_Martí.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/SPARK/readme.md
Owners: @a10pepo, @paponsro

EntregableTerraform
  Alumnos/ES/Luis_Segura/Terraform/DEVSECOPS1.png
  Alumnos/ES/Luis_Segura/Terraform/DEVSECOPS2.png
  Alumnos/ES/Luis_Segura/Terraform/DEVSECOPS3.png
  Alumnos/ES/Luis_Segura/Terraform/IP.txt
Owners: @a10pepo

update readme.md
  Alumnos/FS/Stas Korotchenko/KAFKA/README.md
Owners: @a10pepo, @rusansor

Terraform
  Alumnos/ES/Gabriela_Penaherrera/Terraform/git_pipeline.png
  Alumnos/ES/Gabriela_Penaherrera/Terraform/juego_snake.png
  Alumnos/ES/Gabriela_Penaherrera/Terraform/url.txt
  Alumnos/ES/Gabriela_Penaherrera/Terraform/url_cloudrun.png
Owners: @a10pepo

entregable
  Alumnos/ES/INES_SOLER/DEVSECOPS/1.txt
  Alumnos/ES/INES_SOLER/DEVSECOPS/2.png
  Alumnos/ES/INES_SOLER/DEVSECOPS/3.png
Owners: @a10pepo

entregable
  Alumnos/ES/Yael_Larrosa/DEVSECOPS/cloudrun.PNG
  Alumnos/ES/Yael_Larrosa/DEVSECOPS/link.txt
  Alumnos/ES/Yael_Larrosa/DEVSECOPS/pipeline.PNG
  Alumnos/ES/Yael_Larrosa/DEVSECOPS/snake.PNG
Owners: @a10pepo

Entregable DEVSECOPS
  Alumnos/ES/BORJA_CABO/DEVSECOPS/Cloudrun.png
  Alumnos/ES/BORJA_CABO/DEVSECOPS/Pipeline.png
  Alumnos/ES/BORJA_CABO/DEVSECOPS/Snake.png
  Alumnos/ES/BORJA_CABO/DEVSECOPS/url.txt
Owners: @a10pepo

Primer escenario completo
  Alumnos/ES/Javier_Ruiz/Kafka/consumer.py
  Alumnos/ES/Javier_Ruiz/Kafka/docker-compose.yml
  Alumnos/ES/Javier_Ruiz/Kafka/producer.py
  Alumnos/ES/Javier_Ruiz/Kafka/usecase.md
Owners: @a10pepo, @rusansor

Kafka deliverable final submission
  Alumnos/ES/JULIAN_MERINO/kafka/Readme.md
  Alumnos/ES/JULIAN_MERINO/kafka/docker-compose.yml
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144215.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144559.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144627.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144647.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144716.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144742.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144835.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144853.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 145004.png
Owners: @a10pepo, @rusansor

.github/CODEOWNERS:

# List of codeowners based on project team

* @a10pepo

/Alumnos/FS/*/DOCKER/** @alhercan @a10pepo
/Alumnos/FS/*/docker/** @alhercan @a10pepo
/Alumnos/FS/*/Docker/** @alhercan @a10pepo
/Alumnos/ES/*/DOCKER/** @alhercan @a10pepo
/Alumnos/ES/*/docker/** @alhercan @a10pepo
/Alumnos/ES/*/Docker/** @alhercan @a10pepo

/Alumnos/FS/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/FS/*/python/** @martinImagina @a10pepo
/Alumnos/FS/*/Python/** @martinImagina @a10pepo
/Alumnos/ES/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/ES/*/python/** @martinImagina @a10pepo
/Alumnos/ES/*/Python/** @martinImagina @a10pepo


/Alumnos/FS/*/SQL/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/FS/*/sql/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/FS/*/Sql/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/ES/*/SQL/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/ES/*/sql/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/ES/*/Sql/** @gavaldanatalia @a10pepo @gavnatalia


/Alumnos/FS/*/NIFI/** @echiner @a10pepo
/Alumnos/FS/*/nifi/** @echiner @a10pepo
/Alumnos/FS/*/Nifi/** @echiner @a10pepo
/Alumnos/ES/*/NIFI/** @echiner @a10pepo
/Alumnos/ES/*/nifi/** @echiner @a10pepo
/Alumnos/ES/*/Nifi/** @echiner @a10pepo


/Alumnos/FS/*/AHORCADO/** @a10pepo
/Alumnos/FS/*/ahorcado/** @a10pepo
/Alumnos/ES/*/AHORCADO/** @a10pepo
/Alumnos/ES/*/ahorcado/** @a10pepo
/Alumnos/FS/*/Ahorcado/** @a10pepo
/Alumnos/ES/*/AHORCADO/** @a10pepo

/Alumnos/FS/*/FLASK/** @a10pepo @NuriaUrena
/Alumnos/FS/*/Flask/** @a10pepo @NuriaUrena
/Alumnos/ES/*/FLASK/** @a10pepo @NuriaUrena
/Alumnos/ES/*/Flask/** @a10pepo @NuriaUrena
/Alumnos/FS/*/flask/** @a10pepo @NuriaUrena
/Alumnos/ES/*/flask/** @a10pepo @NuriaUrena

/Alumnos/FS/*/KAFKA/** @a10pepo @rusansor
/Alumnos/FS/*/Kafka/** @a10pepo @rusansor
/Alumnos/ES/*/KAFKA/** @a10pepo @rusansor
/Alumnos/ES/*/Kafka/** @a10pepo @rusansor
/Alumnos/FS/*/kafka/** @a10pepo @rusansor
/Alumnos/ES/*/kafka/** @a10pepo @rusansor

/Alumnos/FS/*/SPARK/** @a10pepo @paponsro
/Alumnos/FS/*/Spark/** @a10pepo @paponsro
/Alumnos/ES/*/SPARK/** @a10pepo @paponsro
/Alumnos/ES/*/Spark/** @a10pepo @paponsro
/Alumnos/FS/*/spark/** @a10pepo @paponsro
/Alumnos/ES/*/spark/** @a10pepo @paponsro

/Alumnos/FS/*/CLOUD/** @a10pepo @jabrio
/Alumnos/FS/*/Cloud/** @a10pepo @jabrio
/Alumnos/FS/*/cloud/** @a10pepo @jabrio
/Alumnos/ES/*/CLOUD/** @a10pepo @jabrio
/Alumnos/ES/*/Cloud/** @a10pepo @jabrio
/Alumnos/ES/*/cloud/** @a10pepo @jabrio
